<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .navbar {
            padding: 1rem;
        }
    </style>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Sản phẩm</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center ms-auto">
                    <form class="d-flex me-3" role="search" method="get" action="/products">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm sản phẩm"
                               aria-label="Search"
                               name="searchQuery">
                        <button class="btn btn-outline-success bi bi-search" type="submit"></button>
                    </form>
                    <div class="dropdown me-3">
                        <button class="btn dropdown-toggle bi bi-person btn-outline-tertiary" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Log
                                In</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign
                                Up</a></li>
                        </ul>
                    </div>
                    <a href="/cart" class="btn position-relative bi bi-bag-fill btn-outline-tertiary">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <!-- Số lượng sản phẩm trong giỏ hàng -->
                        <span th:text="${cartItemCount}">0</span>
                        <span class="visually-hidden">items in cart</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>