<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:fragment="modal-delete">
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa sản phẩm "<span id="productNameToDelete"></span>" với ID = <span id="productIdToDelete"></span>?
                </div>
                <div class="modal-footer">
                    <a id="deleteButton" href="/admins/home/id/delete" class="btn btn-danger">Xóa</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-confirm-update">
    <div class="modal fade" id="confirmUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="examplesModalLabel">Xác nhận cập nhật</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn cập nhật sản phẩm "<span id="productNameToUpdate"></span>" với ID = <span id="productIdToUpdate"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <a id="updateButton" href="" class="btn btn-danger">Cập nhật</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-update">
    <div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="updateProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateProductModalLabel">Cập nhật sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <form action="/admins/home/id/update" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="productName" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Giá</label>
                            <input type="number" class="form-control" id="productPrice" name="price" required>
                        </div>
                        <div class="mb-3">
                            <label for="productDescription" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="productDescription" name="description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="productPackagingDate" class="form-label">Ngày đóng gói</label>
                            <input type="date" class="form-control" id="productPackagingDate" name="productPackagingDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="totalProductQuantity" class="form-label">Tổng số lượng</label>
                            <input type="number" class="form-control" id="totalProductQuantity" name="totalProductQuantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="images" class="form-label">Hình ảnh</label>
                            <input type="file" class="form-control" id="images" name="images" required>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Danh mục</label>
                            <select id="category" name="category.id" class="form-control">
                                <option value="">Chọn danh mục</option>
                                <th:block th:each="category : ${categories}">
                                    <option th:value="${category.id}" th:text="${category.nameCategory}"></option>
                                </th:block>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-create">
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Thêm sản phẩm mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <form action="/admins/home/create" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="productsName" class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="productsName" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="productsPrice" class="form-label">Giá</label>
                            <input type="number" class="form-control" id="productsPrice" name="price" required>
                        </div>
                        <div class="mb-3">
                            <label for="productsDescription" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="productsDescription" name="description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="productsPackagingDate" class="form-label">Ngày Sản Xuất</label>
                            <input type="date" class="form-control" id="productsPackagingDate" name="productPackagingDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="totalProductsQuantity" class="form-label">Tổng số lượng</label>
                            <input type="number" class="form-control" id="totalProductsQuantity" name="totalProductQuantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="image1" class="form-label">Hình ảnh</label>
                            <input type="file" class="form-control-file" id="image1" name="image1" required>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Danh mục</label>
                            <select id="category" name="category.id" class="form-control">
                                <option value="">Chọn danh mục</option>
                                <th:block th:each="category : ${categories}">
                                    <option th:value="${category.id}" th:text="${category.nameCategory}"></option>
                                </th:block>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-detail">
    <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productDetailModalLabel">Chi tiết sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img id="productImage" src="" alt="Hình ảnh sản phẩm" class="img-fluid" style="max-height: 300px;">
                        </div>
                        <div class="col-md-6">
                            <p><strong>ID:</strong> <span id="productId"></span></p>
                            <p><strong>Tên sản phẩm:</strong> <span id="productNames"></span></p>
                            <p><strong>Giá:</strong> <span id="productPrices"></span></p>
                            <p><strong>Mô tả:</strong> <span id="productDescriptions"></span></p>
                            <p><strong>Ngày đóng gói:</strong> <span id="productPackagingDates"></span></p>
                            <p><strong>Tổng số lượng:</strong> <span id="totalsProductQuantity"></span></p>
                            <p><strong>Số lượng còn lại:</strong> <span id="remainProductQuantity"></span></p>
                            <p><strong>Danh mục:</strong> <span id="productCategory"></span></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="modal-viewImage">
    <div class="modal fade" id="imagePreviewModal" tabindex="-1" aria-labelledby="imagePreviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imagePreviewModalLabel">Xem trước hình ảnh</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body text-center">
                    <img id="previewImage" src="" alt="Xem trước hình ảnh" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
