<div th:fragment="login">
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center border-0">
        <h5 class="modal-title fw-bold" id="signInModalLabel">Sign In</h5>
      </div>
      <div class="modal-body">
        <form id="signInForm" th:action="@{/login}" method="post">
          <div class="mb-3">
            <label for="signInUserName" class="form-label">Username</label>
            <input type="text" class="form-control" id="signInUserName" placeholder="Enter your username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="signInPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="signInPassword" placeholder="Enter your password" name="password" required>
          </div>
          <div class="mb-3 d-flex justify-content-end">
            <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#forgotModal" data-bs-whatever="@mdo">Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-primary w-100 py-2">Sign In</button>
          <div class="my-3 text-center text-muted">
            <span>or</span>
          </div>
          <div class="text-center">
            <span>Don't have an account? <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#signUpModal" data-bs-whatever="@mdo">Sign Up</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>