<aside id="sidebar" th:fragment="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="index.html">CodzSword</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a th:href="@{/home}" class="sidebar-link">
                <i class="bi bi-list"></i>
                <span>Product List</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a th:href="@{/home/category}" class="sidebar-link">
                <i class="bi bi-tags"></i>
                <span>Category List</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="customers" class="sidebar-link">
                <i class="bi bi-person-lines-fill"></i>
                <span>Customer List</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-person-circle"></i>
                <span>Profile</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#author" aria-expanded="false" aria-controls="author">
                <i class="bi bi-bar-chart-fill"></i>
                <span>Statistic</span>
            </a>
            <ul id="author" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="product_statistic.html" class="sidebar-link">Product Statistic</a>
                </li>
                <li class="sidebar-item">
                    <a href="customer_statistic.html" class="sidebar-link">Customer Statistic</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                <i class="bi bi-gear"></i>
                <span>Setting</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" data-bs-toggle="modal"
                       data-bs-target="#changePasswordModal">Change Password</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>